
.menu {
    display: flex;
    flex-flow: column;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
    color: aliceblue;
    background-color: #494949;
    padding: 20px;
    margin: 0 50px;
    border-bottom: 1px solid #ffff;
    text-align: center;


}

#retour {
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
}

a:hover {
    background-color: rgb(0, 99, 99);

    transition: .4s;
}

table{
    max-width:100%;
    border-collapse:collapse;
    text-align:center;
    border:1px solid #00F;
    font-size:12px;
}
td, tr {
    width: 20px;
    height: 20px;
    background-color: #34cceb;
}
th {
    background-color: #fff;
    width: 20px;
    height: 20px;


}
@media all and (min-width: 1506px) {
    table{
        font-size: 16px;
    }

    td, tr, th{
    width: 40px;
    height: 40px;
    }

}